body {
    font-family: Helvetica,Arial,"WenQuanYi Micro Hei",sans-serif
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,.lead {
    font-family: Helvetica,Arial,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}
.body-home {
    background-color: #FFFFFF;
    max-width: 1400px;
    min-width: 1024px;
    margin: 0 auto;
    position: relative; 
}

/**顶部导航**/
.top-nav .navbar-inner {
    height: 64px;
    line-height: 64px;
}
.top-nav .navbar-inner .container-fluid {
    height: 64px;
}
.top-nav .nav-collapse > * {
    height: 64px;
    line-height: 64px;
}
.top-nav .nav li {
    height: 64px;
    line-height: 46px;
}

/**左导航**/
.left-nav {
    position: absolute;
    left: 0;
    top: 65px;
    width: 0;
    display: none;
}
.left-nav .nav-list li {
    line-height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.086);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-nav .nav-list li.nav-header {
    line-height: 50px;
    background-color: #F4F4F4;
    color: #1C1C1C;
    font-size: 1em;
    font-weight: bold;
}
.left-nav .nav-list ul.nav-son {
    display: none;
}

/**内容**/
.right-body {
    margin-left: 0px;
    margin-top: 10px;
}
.main-content {
    width: 920px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
    height: 1000px;
}


/**底部**/
.footer {
    text-align: center;
    background-color: #919191;
    height: 40px;
}